
number-view(model='calculatorController.model')

.row
	.six.columns
		.row
			.four.columns
				number-button(number=1)
			.four.columns
				number-button(number=2)
			.four.columns
				number-button(number=3)
		.row
			.four.columns
				number-button(number=4)
			.four.columns
				number-button(number=5)
			.four.columns
				number-button(number=6)
		.row
			.four.columns
				number-button(number=7)
			.four.columns
				number-button(number=8)
			.four.columns
				number-button(number=9)
		.row
			.four.columns
				decimal-button
			.four.columns
				number-button(number=0)
			.four.columns
				equate-button
	.two.columns
		operator-button(operator="+")
		operator-button(operator="-")
		operator-button(operator="x")
		operator-button(operator="/")
	.four.columns
		mutation-button(name="Clear", mutator="calculatorController.resetModel()")
		mutation-button(name="Sin", mutator="calculatorController.mutatorSin()")
		mutation-button(name="Cos", mutator="calculatorController.mutatorCos()")
		mutation-button(name="+/-", mutator="calculatorController.flipSign()")
